* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #32325F;
    margin: 0;
}

.container {
    max-width: 1310px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 159px;
}

.brand {
    color: #95989a;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero {
    padding-top: 70px;
    padding-bottom: 190px;
    background-color: #f4f5f7;
}

.social a {
    text-decoration: none;
    margin-right: 20px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    width: 50%;
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
}

.title {
    font-size: 40px;
    font-weight: 700;
    display: block;
    margin-bottom: 26px;
}

.description {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.price-tag {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
}

.price {
    display: block;
    margin-bottom: 49px;
    font-size: 48px;
    font-weight: 400;
}

.btn {
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
}

.btn-success {
    background-color: #2DCE89;
    margin-right: 20px;
}

.btn-primary {
    background-color: #5E72E4;
}
/* Оформление секций */

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-subtitle {
    display: block;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
}

.section-title {
    display: block;
    font-size: 40px;
    font-weight: 700;
}

.wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}

.block {
    width: 23%;
    margin-right: 2%;
}

.block-text {
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0;
    line-height: 1.4;
}

.footer {
    background-color: #32325f;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-block {
    width: 33%;
}

.footer-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;
}

.footer a {
    display: block;
    color: white;
    text-decoration: none;
}

.footer p {
    line-height: 1.4;
}

.photos {
    width: 362px;
    height: 254px;
    margin: 18px 14px;
}

.people-wrap {
    display: flex;
    flex-wrap: wrap;
}

.people-wrap-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 362px);
    grid-gap: 28px;
}

.photos-grid {
    height: 254px;
    width: 362px;
}

@media (max-width: 990px) {
    .btn-success {
        margin-bottom: 10px;
        width: 214px;
    }
    .btn-primary{
        width: 214px;
    }
    .buttons {
        display: flex;
        flex-flow: column;
    }
    .main {
        display: flex;
        flex-flow: column;
    }
    .main-image {
        margin-top: 40px;
    }
    .main-text {
        width: 100%;
    }
    .block{
        margin: 0 60px 60px 60px;
    }
    .wrap{
        justify-content: center;
    }
}
