*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-image: url("img/background.jpg");
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.note {
    font-size: 14pt;
}

.margin {
    margin-bottom: 250px;
}

a {
    text-decoration: none;
}

.image {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 200px;
}

.image img {
    width: 700px;
    height: 500px;
}

.text {
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: bold;
}

.b {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

.styleItalic {
    font-style: italic;
}

.styleBold {
    font-weight: bold;
}

p {
    font-size: 14pt;
}

li {
     font-size: 14pt;
     
}

.chapter2 {
    color: #aa0000;
}

.chapter3 {
    color: #0e6014;
}

.chapter4 {
    color: #005289;
}

.chapter5 {
    color: #350085;
}

.list {
    right: 0;
    position: absolute;
}

.indent {
    margin-bottom: 200px;
}