body {
    background-image: url("img/background.jpg"); 
}

.note {
    font-size: 14pt;
}

.margin {
    margin-bottom: 250px;
}

a {
    text-decoration: none;
}

.image {
    width: 50%;
    height: 30%;
    margin: 0px 600px;
    margin-bottom: 200px;
}

.image img {
    width: 700px;
    height: 500px;
}

.text {
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: bold;
}

.b {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

p {
    font-size: 14pt;
}

li {
     font-size: 14pt;
     
}

.chapter2 {
    color: #aa0000;
}

.chapter3 {
    color: #0e6014;
}

.chapter4 {
    color: #005289;
}

.chapter5 {
    color: #350085;
}

.list {
    position: fixed;
}

.indent {
    margin-bottom: 200px;
}