body {
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
}

.products {
    margin-top: 100px;
}

.name {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 120px;
    text-align: center;
}

.data {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-around;
}

.instrument {
    margin-bottom: 100px;
    text-align: center;
}

.instrument_item{
    font-size: 14px;
}

.cost {
    font-weight: 700;
    font-size: 18px;
}

.button {
    width: 200px;
    height: 55px;
    font-size: 16px;
    border: 1px solid #25bbc1;
    background: none;
    color: #25bbc1;
}

.img {
    width: 263px;
    height: 210px;
}
