body {
    background-color: gray;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: ArialMT;
}

.card {
    width: 1000px;
    height: 500px;
    background-color: white;
    margin: 90px auto;
}

.img {
    width: 380px;
    margin: 60px 10px;
    display: inline-block;
    vertical-align: middle;
}

.main {
    width: 380px;
    margin: 60px 100px;
    display: inline-block;
    vertical-align: middle;
}

.button {
    padding: 16px 50px;
    background-color: #ec744a;
    color: white;
    margin-top: 55px;
    font-size: 16px;
    border: none;
}

.main_text {
    font-size: 15px;
    margin-bottom: 55px;
}

.main_price {
    font-size: 15px;
}

.price {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}
