.title {
    font-family: Tahoma;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 70px;
}

.title-text {
    font-family: Tahoma;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

.icon {
    width: 71px;
    height: 71px;
}

.block {
    text-align: center;
}
